__pycache__/
checkpoint-70000.data-00000-of-00001
checkpoint-79000.data-00000-of-00001
/audios/cat/New folder/
/audios/dog/New folder/
/audios/human/New folder/
/audios/kid/New folder/
/audios/parrot/Newfolder/
/model_interfaces/audio_classifier/intermediary/dog/
/model_interfaces/audio_classifier/intermediary/cat/
/model_interfaces/audio_classifier/intermediary/kid/
/model_interfaces/audio_classifier/intermediary/human/
/model_interfaces/audio_classifier/intermediary/parrot/
/tempResults/
*.DS_Store